/* style generali */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}
p{
    color: rgb(105,108,114);
    font-size: 10px;
    margin-left: 10px;

}
img{
    width: 100%;
}
a{
    color: rgb(105,108,114);
    text-decoration: none;
}
i{
    color: rgb(105,108,114);
    font-size: 16px;
}
ul{
    list-style: none;
}
li{
    margin-bottom: 10px;
    color: rgb(105,108,114);
}
h1{
    color: white;
    font-size: 18px;
    margin:20px 20px 10px 10px ;
}
.text{
    color: white;
    font-weight: bold;
    font-size: 14px;
}
#creaplaylist{
    font-size: 14px;
}
.fa-square-plus , .fa-circle-user{
    font-size: 25px;
}
#logosidebar{
    width: 70%;
}
hr{
    color: rgb(105,108,114);
    margin-bottom: 10px;

}
#user{
    margin-top: 100px;
}
.titolo{
    font-size: 12px;
    font-weight: bold;
    color: white;
    margin: 10px 0px;
    text-align: center;
}
.subtitle{
   text-align: center;
}


/* container */
#container{
    height: calc(100vh - 50px);
    display: flex;
    background-color: rgba(20,25,34,255);

}
#sidebar{
    width: 200px;
    height: 100%;
    background-color: rgba(0,0,0,255);
    padding:20px ;
}

#main-container{
    width: calc(100% - 200px);
    height:calc(100% - 80px);
    background-color: rgba(20,25,34,255);
    overflow: auto;
    
}
#topbar{
    min-width: 100%;
    height: 80px;
    background-color:rgba(8,11,18,255);
    padding: 25px;
    text-align: right;
    /* position: fixed; */
}
.songcontainer{
    display: flex;
}

#wrapbase-container{
    height: 80px;
    background-color: rgba(40,40,40,255);
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

/* sidebar */
#sidebar img{
    margin-bottom: 20px;
}
#user{
    margin-top: 130px;
}

/* main */
#mainnav{
    display: flex;
    justify-content: center;

}
#mainnav{
    margin-top: 20px;
}
#navlist{
    margin-right: 20px;
    font-weight: bold;
    text-align: center;
    float: left;
}
#greenbar-orizzontale{
    color: rgba(89,129,40,255);
    max-width: 3%;
    margin-left: 315px;
    margin-top: -10px;
}
.song{
    width: calc(100%/6);
    padding: 10px 5px 20px 10px ;
}
.song img{
    width: 100%;
    
}
#artist{
    overflow: hidden;
    border-radius: 50%;
}
/* bottom */
#topbar-bottom{
    border: solid 1px white;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;


}

/* wrapbase */
.wrapbase-box{
    width: calc(100%/3);
    padding: 5px; 
}
.wrapbase-box img{
    width: 10%;
}
.wrapbase-box li{
    float: left;
    margin-right: 20px;
}
/* wrapbase-sinistro */
#wrapbase-sinistro{
    display: flex;
    align-items: center;

}
#songdescription{
    margin-left: -270px;
    margin-right: 30px;
    
}
#songdescription .text{
    font-size: 10px;
}
#songdescription p{
    font-size: 8px;
}
.wrapbase-icon i{
    margin-right: 10px;
    color: rgb(105,108,114);
    
}
/* wrapbase player */
.wrapbase-player{
    height: calc(100%/2);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.wrapbase-player i{
    font-size: 20px;
    color: white;
}


#lineplayer{
    width: 400px;
    background-color: grey;
    height: 5px;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
#lineplayerchiaro{
    width: 100px;
    background-color: rgb(203, 193, 193);
    border-radius: 20px;
    height: 5px;
}
.wrapbase-player p{
    color: white;
    font-weight: bold;
}
/* wrapbase destro */
#wrapbase-destro{
display: flex;
align-items: center;
justify-content: flex-end;
}

#wrapbase-destro i{
    color: white;
}
#wrapbase-destro hr{
    max-width: 20px;
}
#lineplayer-destro{
    width: 150px;
    background-color: grey;
    height: 5px;
    border-radius: 20px;
    margin-top: -10px;
}
#lineplayerchiaro-destro{
    width: 60px;
    background-color: rgb(203, 193, 193);
    border-radius: 20px;
    height: 5px;
}
 /* effects */
.sidebar i{
    transition: 1s;
}
.sidebar:hover {
    background: white;
}